<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>World Cup Simulator</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script type="text/javascript">
    var app = angular.module('customSimulation',[]);
    app.controller('customSimulationController', function($scope, $http) {
        $scope.show = 0;
        var jq = $.noConflict();
        $scope.getData = function() {
          $scope.randomness = jq("#Randomness").val();
          $scope.numSimulations = jq("#Simulations").val();
          $scope.by = jq("#criterion").val();
          if ($scope.by == "bElo" || $scope.by=="nElo") {
            $scope.simBy = "Elo";
          } else if ($scope.by == "star") {
            $scope.simBy = "Star Overall";
          } else if ($scope.by == "wins") {
            $scope.simBy = "World Cup Titles";
          } else if ($scope.by == "gdp") {
            $scope.simBy = "GDP";
          } else {
            $scope.simBy = "GDP Per Capita";
          }
          var request = $http.get("getSimulation", {params: {numSimulations: $scope.numSimulations, randomness: $scope.randomness, by: $scope.by}}).then
          (function successCallback(data) {
              console.log(data.data)
              $scope.data = data.data;
              $scope.show = 1;
              function doColorThing() {
                jq(".classForColorStyle").each(function() {
                  jq(this).css("background-color", getColor(jq(this).text()/100));
                  //console.log(getColor(jq(this).text()/100));
                });
              }
              window.setTimeout(doColorThing,100);
          }, function errorCallback(data) {
              console.log('err');
          });
        }        
    });

    Number.prototype.formatMoney = function(c, d, t){
      var n = this, 
      c = isNaN(c = Math.abs(c)) ? 2 : c, 
      d = d == undefined ? "." : d, 
      t = t == undefined ? "," : t, 
      s = n < 0 ? "-" : "", 
      i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))), 
      j = (j = i.length) > 3 ? j % 3 : 0;
      return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
    };
  </script>
</head>
<style type="text/css">
  .classForColorStyle {
    text-align: right;
    border-left: 1px solid #dee2e6;
  }
  .teamLogo {
    height: 24px;
    width: 24px;
  }
  .table thead .noBottom {
    border-bottom: none;
  }
  .table thead .noTop {
    border-top: none;
  }
  #RandomnessSlider .slider-selection {
  background: #BABABA;
  }
  #SimulationsSlider .slider-selection {
  background: #BABABA;
  }
</style>
<body class="fixed-nav sticky-footer bg-dark" id="page-top" ng-app="customSimulation">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/">World Cup Simulator</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Home">
          <a class="nav-link" href="/">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Custom">
          <a class="nav-link" href="/customSimulation">
            <i class="fa fa-fw fa-area-chart"></i>
            <span class="nav-link-text">Custom Simulation</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Data">
          <a class="nav-link" href="/countryData">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">All Country Data</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Other">
          <a class="nav-link" href="/otherModules">
            <i class="fa fa-fw fa-object-group"></i>
            <span class="nav-link-text">Other Fun Modules</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Example Pages</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="register.html">Registration Page</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password Page</a>
            </li>
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid" ng-controller="customSimulationController">
      <h1>Create Custom Simulation</h1>
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label for="selectCriteria">Select outcome criterion:</label>
          <select class="form-control" name="criterion" id="criterion">
            <option value="bElo">Better Elo</option>
            <option value="nElo">Normal Elo Simulation</option>
            <option value="star">Better Star Player</option>
            <option value="wins">More World Cup Wins</option>
            <option value="gdp">Larger GDP</option>
            <option value="capita">Larger GDP per Capita</option>
          </select>
        </div>
        <div class="form-group">
          <label>Select Amount of Randomness in Game Outcomes (0 means win criterion decides every time, 100 means coin flip):</label><br>
          0&nbsp&nbsp&nbsp<input id="Randomness" data-slider-id='RandomnessSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-slider-tooltip="show" data-slider-tooltip-position="top" name="randomness" />&nbsp&nbsp&nbsp100
        </div>
        <div class="form-group">
          <label>Select Number of Simulations to Run:</label><br>
          1&nbsp&nbsp&nbsp<input id="Simulations" data-slider-id='SimulationsSlider' type="text" data-slider-min="1" data-slider-max="10000" data-slider-step="1" data-slider-value="1" data-slider-tooltip="show" data-slider-tooltip-position="top" name="simulations" />&nbsp&nbsp&nbsp10000
        </div>
        <button type="submit" ng-click="getData()" class="btn btn-primary">Submit</button>
      </div><br><br>
      <!-- Group Stage-->
      <div class="card mb-3" ng-show="show">
        <div class="card-header">
          Group Stage Projections
        </div>
        <div class="card-body">
          <div class="card-deck">
            <div class="card" ng-repeat="x in data.groupAdvances" ng-if="$index < 3">
              <div class="card-header">{{ x.group }}</div>
              <div class="card-body">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th class="noTop"></th>
                      <th class="noTop">Country</th>
                      <th class="noTop">{{simBy}}</th>
                      <th class="noTop" style="text-align: right;">Move On</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="y in x.countries">
                      <td class="teamLogo"><img src="asdf"></td>
                      <td>{{y.country}}</td>
                      <td>{{y.rating}}</td>
                      <td class="classForColorStyle">{{100 * y.advances / numSimulations | number : 2}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div><br><br>
          <div class="card-deck">
            <div class="card" ng-repeat="x in data.groupAdvances" ng-if="$index > 2 && $index < 6">
              <div class="card-header">{{ x.group }}</div>
              <div class="card-body">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th class="noTop"></th>
                      <th class="noTop">Country</th>
                      <th class="noTop">{{simBy}}</th>
                      <th class="noTop" style="text-align: right;">Move On</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="y in x.countries">
                      <td class="teamLogo"><img src="asdf"></td>
                      <td>{{y.country}}</td>
                      <td>{{y.rating}}</td>
                      <td class="classForColorStyle">{{100 * y.advances / numSimulations | number : 2}}</td>
                  </tbody>
                </table>
              </div>
            </div>
          </div><br><br>
          <div class="card-deck">
            <div class="card" ng-repeat="x in data.groupAdvances" ng-if="$index > 5">
              <div class="card-header">{{ x.group }}</div>
              <div class="card-body">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th class="noTop"></th>
                      <th class="noTop">Country</th>
                      <th class="noTop">{{simBy}}</th>
                      <th class="noTop" style="text-align: right;">Move On</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="y in x.countries">
                      <td class="teamLogo"><img src="asdf"></td>
                      <td>{{y.country}}</td>
                      <td>{{y.rating}}</td>
                      <td class="classForColorStyle">{{100 * y.advances / numSimulations | number : 2}}</td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" ng-show="show">
        <div class="card-header">
          Round by Round Projections
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th colspan="4" class="noBottom noTop"></th>
                <th colspan="4" class="noTop" style="text-align:center">Chance of Reaching Round of</th>
                <th class="noBottom noTop"></th>
              </tr>
              <tr>
                <th class="noTop"></th>
                <th class="noTop">Team</th>
                <th class="noTop" style="width: 10%">Group</th>
                <th class="noTop" style="width: 10%">{{simBy}}</th>
                <th style="width: 10%; text-align: right;">16</th>
                <th style="width: 10%; text-align: right;">8</th>
                <th style="width: 10%; text-align: right;">4</th>
                <th style="width: 10%; text-align: right;">2</th>
                <th class="noTop" style="width: 10%; text-align: right;">Win</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="z in data.countryData">
                <td><img src="asdf"></td>
                <td>{{z.country}}</td>
                <td>{{z.group}}</td>
                <td>{{z.rating}}</td>
                <td class="classForColorStyle">{{100 * z.top16 / numSimulations | number : 2}}</td>
                <td class="classForColorStyle">{{100 * z.top8 / numSimulations | number : 2}}</td>
                <td class="classForColorStyle">{{100 * z.top4 / numSimulations | number : 2}}</td>
                <td class="classForColorStyle">{{100 * z.top2 / numSimulations | number : 2}}</td>
                <td class="classForColorStyle">{{100 * z.titles / numSimulations | number : 2}}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css" />

    <script type="text/javascript">
      function getColor(value){
          //value from 0 to 1
          var hue=Math.ceil(((value)*120).toString(10));
          return ["hsl(",hue,",100%,50%)"].join("");
      }
      function colorText() {
        $(".classForColorStyle").each(function() {
          $(this).css("background-color", getColor($(this).text()/100));
          console.log(getColor($(this).text()/100));
        });
      }
    </script>
    <script type="text/javascript">
      // With JQuery
      $('#Randomness').slider();
      $('#Simulations').slider();
    </script>
  </div>
</body>

</html>