@font-face
{
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('Open-Sans-Light'),
  url('OpenSans-Light-webfont.woff') format('woff'),
  url('OpenSans-Light-webfont.ttf') format('truetype');
}

@font-face
{
  font-family: 'Open Sans Condensed Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Condensed Light'), local('Open-Sans-Condensed-Light'),
  url('OpenSans-CondLight-webfont.woff') format('woff'),
  url('OpenSans-CondLight-webfont.ttf') format('truetype');
}

html
{
  font-family: Open Sans Light,Segoe UI,Calibri,Tahoma,Arial,sans-serif;
  font-size: 12pt;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  width: 100%;
}

body
{
  font-family: Open Sans Light,Segoe UI,Calibri,Tahoma,Arial,sans-serif;
  font-size: 12pt;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%;
}

p.label
{
  margin: 1em 0 .5em 0;
}

p.input
{
  margin: .5em 0 1em 0;
}

input, textarea, select
{
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

input[type=text], textarea
{
  border: #b8b8b8 solid 1px;
  box-sizing: border-box;
  padding: 6px;
  width: 100%;
}

input[type=text]:focus, input[type=text]:hover, input[type=text]:active, textarea:focus, textarea:hover, textarea:active
{
  border: #98f1a0 solid 1px;
}

input[type=submit]
{
  background-color: #e8e8e8;
  border: #b8b8b8 solid 1px;
  height: 32px;
  margin-right: 20px;
  width: 100px;
}

input[type=submit]:focus, input[type=submit]:hover, input[type=submit]:active
{
  background-color: #98f1a0;
  border: none;
}

.main
{
  margin-left: auto;
  margin-right: auto;
}

.topnav
{
  float: right;
  position: sticky;
  top: 1px;
  z-index: 30;
}

li.topnavitem
{
  border-left: #98f1a0 solid 1px;
  border-top: #98f1a0 solid 1px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14pt;
  height: 32px;
}

li.lastnav
{
  border-right: #98f1a0 solid 1px;
}

li.dropdown
{
  border: none;
  padding: 6px 12px 0 12px;
  vertical-align: bottom;
}

.topnav a
{
  display: block;
  padding: 3px 10px 3px 10px;
}

li.current, a.current, label.current
{
  background-color: #98f1a0;
}

.topnav a:hover, .topnav a:active, .topnav a:focus, .topnav li.dropdown:hover, .topnav li.dropdown:active, .topnav li.dropdown:focus
{
  background-color: #98f1a0;
}

.menuicon
{
  background-image: url("menu.png");
  height: 21px;
  width: 30px;
}

.menucheckbox
{
  float: left;
  margin: 4px 5px 0 0;
}

.menuholder
{
  position: relative;
}

.topmenu
{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 40;
}

.mainloader
{
  align-items: center;
  background-color: white;
  display: flex;
  /* flex-direction: column; */
  /* right: 0; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.loadheader
{
  font-size: 4em;
  text-align: center;
  width: 100%;
}

.mainheader
{
  font-weight: normal;
  height: 43px;
  margin-bottom: -16px;
  margin-top: 20px;
}

.subheader
{
  background-color: #98f1a0; /* closest: lightgreen, palegreen */
  box-sizing: border-box;
  clear: both;
  font-weight: normal;
  height: 35px;
  margin: 0;
  padding: 5px 10px;
  position: sticky;
  text-align: center;
  top: 0;
  /* transition: top 200ms; */
  width: 100%;
  z-index: 20;
}

.subheader.higher
{
  text-align: left;
}

.maindiv
{
  border-color: #98f1a0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  box-sizing: border-box;
  padding: 0 0 6px 0;
  position: relative;
  width: 100%;
}

.maindiv.morepadding
{
  padding: 6px 16px 6px 16px;
}

.verticalborders
{
  border-style: solid;
  border-width: 1px;
  border-top: none;
}

.condensed-layout
{
  font-family: Open Sans Condensed Light;
  font-size: 14pt;
}

.condensed-header
{
  font-family: Open Sans Condensed Light;
}

.group-header.slick-header-column
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin-top: 9px;
  text-align: center;
}

.rating-header-1l.slick-header-column
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin-top: 9px;
  text-align: center;
}

.rating-header.slick-header-column
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin-top: -12px;
  text-align: center;
}

.rating-cell.slick-header-column
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin: 3px 0 0 0;
}

.local-cell.slick-header-column
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin: 3px -4px 0 4px;
}

.global-cell.slick-header-column
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin: 3px 4px 0 -4px;
}

.team-header-1l.slick-header-column
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin-top: 9px;
}

.team-header.slick-header-column
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin-top: -12px;
}

.local-cell
{
  padding: 5px 0 0 8px;
  text-align: center;
}

.global-cell
{
  padding: 5px 8px 0 0;
  text-align: center;
}

.team-cell
{
  padding: 5px 0 0 4px;
}

.rating-cell
{
  padding: 5px 0 0 0;
  text-align: center;
}

.fixture-header.slick-header-column
{
  margin: -8px -7px 0 15px;
  padding: 0;
}

.fixture-header.slick-header-column.narrow-layout
{
  margin-left: 5px;
  margin-right: 3px;
}

.fixture-header.slick-header-column.condensed-layout
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin-left: 5px;
  margin-right: 3px;
}

.draw-header.slick-header-column
{
  margin: 3px 0 0 0;
  text-align: center;
}

.change-header.slick-header-column
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin: 3px 0 0 0;
  text-align: right;
}

.winexp-header.slick-header-column
{
  font-family: Open Sans Light;
  font-size: 12pt;
  height: 40px;
  line-height: 29px;
  margin-top: -32px;
  text-align: center;
  white-space: normal;
}

.match-header.slick-header-column
{
  margin: 14px -7px 0 15px;
  padding: 0;
}

.match-header.slick-header-column.narrow-layout
{
  margin-left: 5px;
  margin-right: 3px;
}

.match-header.slick-header-column.condensed-layout
{
  font-family: Open Sans Light;
  font-size: 12pt;
  margin-left: 5px;
  margin-right: 3px;
}

.match-cell
{
  padding: 6px 0 0 15px;
}

.match-cell.narrow-layout
{
  padding-left: 5px;
}

.match-cell.condensed-layout
{
  padding-left: 5px;
}

.score-cell
{
  padding: 6px 15px 0 0;
  text-align: right;
}

.score-cell.narrow-layout
{
  padding-right: 5px;
}

.score-cell.condensed-layout
{
  padding-right: 5px;
}

.change-cell
{
  padding: 6px 4px 0 0;
  text-align: right;
}

.change-cell.narrow-layout
{
  padding-right: 0;
}

.change-cell.condensed-layout
{
  padding-right: 0;
}

.left-padding
{
  padding-left: 15px;
}

.slick-header-column.left-padding
{
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: -7px;
}

.left-padding.narrow-layout
{
  padding-left: 5px;
}

.slick-header-column.left-padding.narrow-layout
{
  padding-left: 0;
  padding-right: 0;
  margin-left: 5px;
  margin-right: 3px;
}

.left-padding.condensed-layout
{
  padding-left: 5px;
}

.slick-header-column.left-padding.condensed-layout
{
  padding-left: 0;
  padding-right: 0;
  margin-left: 5px;
  margin-right: 3px;
}

.verticalline
{
  border-left: #98f1a0 solid 1px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

p.fineprint
{
  font-size: 10pt;
  margin: 1.5em 0 1em 0;
}

a
{
  color: black; /* #1abf29; */
  text-decoration: none;
}

ul
{
  list-style: none;
}

ul, li, label
{
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.mainmenu
{
  max-height: 100vh;
  min-width: 160px;
  padding-top: 47px;
  position: fixed;
  top: 0px;
  z-index: 50;
}

.accordion-menu
{
  background: white;
  border: #98f1a0 solid 1px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, .5); */
  /* padding: 4px 0 4px 0; */
  width: 260px;
}

.accordion-menu ul
{
  display: none;
  white-space: normal;
}

ul.inline
{
  padding: 0 3px 0 12px;
}

.accordion-menu li
{
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 14pt;
}

li.inline
{
  display: inline-block;
}

li.expanded
{
  border: #98f1a0 solid 1px;
  display: block;
  margin: 3px;
}

li.inline.expanded
{
  display: block;
  margin: 3px 0 3px -9px;
}

li.expanded > label
{
  margin: 0;
}

.accordion-menu li li
{
  font-size: 12pt;
}

.accordion-menu input[type=checkbox]
{
  position: absolute;
  opacity: 0;
}

.accordion-menu label, .accordion-menu a, .accordion-menu span.accordion
{
  cursor: pointer;
  display: block;
  position: relative;
  padding: 6px 12px 6px 12px;
  margin: 3px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.accordion-menu label:hover, .accordion-menu a:hover, .accordion-menu span:hover
{
  background: #98f1a0;
}

.accordion-menu input[type=checkbox]:checked + label
{
  background: #e8e8e8;
}

.accordion-menu input[type=checkbox]:checked + label.current
{
  background: #98f1a0;
}

.accordion-menu ul label, .accordion-menu ul a, .accordion-menu ul span.accordion
{
  padding: 3px 3px 3px 24px;
}

.accordion-menu ul ul label, .accordion-menu ul ul a, .accordion-menu ul ul span.accordion
{
  padding-left: 36px;
}

.accordion-menu ul ul ul label, .accordion-menu ul ul ul a, .accordion-menu ul ul ul span.accordion
{
  padding-left: 48px;
}

.accordion-menu li.inline > label, .accordion-menu li.inline > a
{
  padding-left: 6px;
  padding-right: 8px;
}

.accordion-menu li.inline.expanded > label, .accordion-menu li.inline.expanded > a
{
  padding-left: 17px;
  padding-right: 12px;
}

.accordion-menu li.inline.expanded > ul > li > label, .accordion-menu li.inline.expanded > ul > li > a
{
  padding-left: 24px;
}

.accordion-menu li.inline.expanded > ul > li.inline > label, .accordion-menu li.inline.expanded > ul > li.inline > a
{
  padding-left: 6px;
  padding-right: 8px;
}

.accordion-menu li.inline.expanded > ul > li > ul > li > label, .accordion-menu li.inline.expanded > ul > li > ul > li > a
{
  padding-left: 36px;
}

.slick-preheader-panel
{
  background: #e8e8e8;
  height: 35px;
  position: sticky;
  top: 35px;
  z-index: 10;
}

.slick-header.ui-state-default
{
  background: #e8e8e8;
  height: 40px;
  margin-bottom: 10px;
  overflow: visible;
  position: sticky;
  top: 35px;
  z-index: 10;
}

.slick-header.full-header
{
  height: 35px;
  top: 70px;
}

.slick-header-columns
{
  overflow: visible;
}

.slick-header-column.ui-state-default
{
  border: none;
  overflow: visible;
}

.slick-row:hover
{
  background-color: #98f1a0;
}

.slick-cell
{
  border: none;
  overflow: visible;
}

.invisible
{
  display: none;
}

.wait, .wait *
{
  cursor: wait !important;
}
